.inputWrapper {
  background-color: white;
  height: 100px;
}
.inputForm {
  background-color: white;
  height: 40%;
  width: 30%;
  border: none;
  border-radius: 20px;
  border-color: rgb(60, 6, 60);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.light {
  background-color: rgb(153, 23, 153);
  height: 100px;
  position: relative;
  margin-bottom: 10px;
}
.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
span {
  color: white;
  font-weight: bold;
}
